services:
  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:${DB_PORT}"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    restart: always
    environment:
      WEBHOOK_SECRET: ${WEBHOOK_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      WEBHOOK_PATH: ${WEBHOOK_PATH}
      BOT_TOKEN: ${BOT_TOKEN}
      NODE_ENV: ${NODE_ENV}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      PORT: ${PORT}
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - .:/app
      - /app/node_modules
      - /etc/localtime:/etc/localtime:ro # Синхронизация времени
    depends_on:
      - db
      - ngrok

  ngrok:
    image: ngrok/ngrok:latest
    restart: always
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    command:
      - "http"
      - "app:${PORT}"
    ports:
      - "4040:4040"


volumes:
  db_data:
